name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
defaults:
  run:
    shell: pwsh
jobs:
  deploy:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          global-json-file: global.json
      - name: Build
        run: dotnet build src --configuration Release
